@{
    ViewBag.Title = "Acknowlegment Page";
}

<body style="background-image: url(https://www.aier.org/wp-content/uploads/2019/04/stackofbooks.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    ">
</body>

