@model IEnumerable<DDToolKit.Models.Creature>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test page to see if the dropdown list is wokring</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="form-horizontal">
        <div class="col-md-12" style="margin-top:20px">

            @Html.DropDownList(Model => Model.)
        </div>
    </div>
</body>
</html>